# Atlas Server
DATABASE_URL=postgresql://atlas_user:incorrect404@localhost:5432/atlas_db?schema=public
JWT_SECRET="change-this-to-a-random-32-char-minimum-secret-key"
PORT=5001
ENROLLPRO_API=http://localhost:5000/api
CLIENT_URL=http://localhost:5174
